certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.6
django-appconf==1.0.2
django-bootstrap3==9.1.0
django-compressor==2.2
django-debug-toolbar==1.8
django-environ==0.4.4
django-extensions==1.9.7
django-sass-processor==0.5.5
idna==2.6
libsass==0.13.3
PyJWT==1.5.3
PySocks==1.6.7
pytz==2017.3
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
six==1.11.0
sqlparse==0.2.4
twilio==6.8.2
typing==3.6.2
urllib3==1.22
Werkzeug==0.15.3
