{% extends "app/base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    <form method="post" class="form-vertical">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div class="col-md-2 control-label">
                    {% bootstrap_label field.name %}
                </div>
                <div class="col-md-4">
                    {% bootstrap_field field show_label=False form_group_class=None %}
                </div>
            </div>
        {% endfor %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Login!
            </button>
            <br>
            <br>
            <p>Don't have an account? Click below to register.</p>
            <a href="/app/register"class="btn ml-2 btn-primary text-white">Signup</a>
        {% endbuttons %}
    </form>
</div>    
{% endblock %}