{% extends "app/base.html" %}
{% load static %}

{% block content %}
    <div class="py-5 bg-white">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h3>About Us</h3>
                <p>Crumbly was created with the vision of building a robust, scalable platform that allows
                    for the creation of simple SMS-based treasure hunts. 
                </p>
                <p>
                    We aim to iterate and improve on this product as often as possible. Feel free to contact us with 
                    feedback at <strong>support@getcrumbly.com</strong>. 
                </p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}