{% extends "app/base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
                {{ form }}
            {% endfor %}
        </table>
        <input type="submit" name="action" value="+">
        <input type="submit" name="action" value="-">
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Save Changes
            </button>
            <a href="/app/morsels"class="btn ml-2 btn-primary text-white">Go Back</a>
        {% endbuttons %}
    </form>
</div>    
{% endblock %}