{% extends "app/base.html" %}
{% load static %}
{% block content %}
<div class="pt-5 bg-light text-dark" style="background-image:url('/static/app/images/n-120570.jpg'); -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-md-left text-center align-self-center my-5" style="">
              <h1 class="display-1" style="color:white">SMS Treasure Hunts</h1>
              <p class="lead" style="color:white">Simple. Download-free. Easy setup.</p>
              <div class="row mt-5">
                <div class="col-md-5 col-6">
                    <a href="/login"class="btn ml-2 btn-primary text-white">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="">
              <img class="img-fluid d-block max-width:100% height:auto mx-auto" src="{% static 'app/images/message-ios.png' %}"> </div>
          </div>
        </div>
      </div>
      <div class="py-5" style="background:#FD971F">
        <div class="container">
          <div class="row text-white">
            <div class="py-5 col-md-6">
              <div class="row">
                <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-angle-double-up"></i></div>
                <div class="col-8">
                  <h5 class="mb-3 text-primary"><b class="text-white">Robust Architecture</b></h5>
                  <p class="my-1">SMS is a tried and tested protocol for mass communication. We stand on the shoulder of a robust network and can scale with ease.</p>
                </div>
              </div>
            </div>
            <div class="py-5 col-md-6">
              <div class="row">
                <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-map-o"></i></div>
                <div class="col-8" style="">
                  <h5 class="mb-3 text-primary"><b class="text-white">Engage</b></h5>
                  <p class="my-1">Use our reports to measure key KPIs like response rates and time between responses. Create loops within hunts. Trigger email campaigns and more</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="py-5 col-md-6 text-white">
              <div class="row">
                <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-file-o"></i></div>
                <div class="col-8">
                  <h5 class="mb-3 text-primary"><b class="text-white">Create</b></h5>
                  <p class="my-1">Build with blocks, yet modify easily. Customization is one click away and the graphic possibilities are infinite. </p>
                </div>
              </div>
            </div>
            <div class="py-5 col-md-6 text-white">
              <div class="row">
                <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-money"></i></div>
                <div class="col-8">
                  <h5 class="mb-3 text-white"><b>Inexpensive</b></h5>
                  <p class="my-1">Customize your experience with our inexpensive pay-per-hunt plans or subscribe for increased scalability. Your&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}