{% extends "app/base.html" %}

{% block content %}
    <h2>Morsels</h2>
    <ul>
        {% for morsel in object_list %}
            <li>{{ morsel.name }} 
                <a href="{%url 'app:morsel_detail' morsel.id%}">View</a>
                <a href="{%url 'app:start_hunt' morsel.id%}">Send! </a>
            </li>
        {% endfor %}
    </ul>
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}       
        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}