{% extends "app/base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block content %}
    <h2>Morsels</h2>
    <ul>
        {% for morsel in object_list %}
            <li>{{ morsel.name }} 
                <a href="{%url 'app:morsel_detail' morsel.id%}">View</a>
                <a href="{%url 'app:start_hunt' morsel.id%}">Send! </a>
            </li>
        {% endfor %}
    </ul>
    {% if messages %}
        {% for msg in messages %}       
            {% bootstrap_alert msg.message alert_type=msg.level_tag %}
        {% endfor %}
    {% endif %}
{% endblock %}